html {
  background-color: var(--bg-color);
}
body {
  background: var(--bg-color);
}

h1 {
  color: var(--font-color2);
}
.not-found {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
