@import url("https://fonts.googleapis.com/css2?family=Georama:wght@200;300&display=swap");

:root {
  --bg-color: #1e1f33;
  --font-color: #adafd0;
  --container-color: #262742;
  --button-color-readmore: #e84172;
  --button-color-delete: #f64a4a;
  --button-color-edit: #4184e8;
  --button-color-create: #52cf8c;
  --search-input: #262742;
  --font-color2: #8587a4;
  --button-color-logout: #f64a4a;
  --description-color: #5c5d80;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background: var(--bg-color);
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--font-color2);
}

html {
  font-size: 16px;
  font-family: "Georama", sans-serif, serif;
}
h2,
h3,
h4 {
  color: var(--font-color2);
}
h2 {
  font-size: 2.1rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.3rem;
}

body {
  background: var(--bg-color);
}
main {
  margin: auto;
  /* background: lightcoral; */
  min-height: 80vh;
  padding: 10px 0px;
  max-width: 1200px;
}

.top-bar {
  /* background: lightgoldenrodyellow; */
  display: grid;
  grid-template-columns: auto auto auto;
}
.title-search {
  grid-column: 2/3;
  /* background: green; */
  width: fit-content;
  width: -moz-fit-content;
  margin: auto;
}
.title-search > h2 {
  margin-bottom: 20px;
}
.search-input {
  height: 25px;
  padding: 0px 10px;
  margin: auto;
  outline: none;
  /* background: lightskyblue; */
  display: block;
  width: 100%;
  border-radius: 5px;
  background: var(--search-input);
  border: none;
  color: var(--font-color);
}
.search-input::placeholder {
  color: var(--font-color);

  /* background:yellow; */

  text-align: center;
}
.theme {
  grid-column: 3/4;
  width: fit-content;
  margin: 0px auto;
  /* background: rgb(59, 201, 141); */
}
.theme > img {
  width: 40px;
  height: 40px;
}

.articles {
  /* background: lightgreen; */
  margin: 10px;
}
.articles-name {
  width: 100%;
  margin: 10px auto;
  /* background: rgb(241, 86, 109); */
  display: flex;
  justify-content: space-between;
}

.articles-name > h2 {
  width: fit-content;
  width: -moz-fit-content;

  /* background:red; */
}

.article-each {
  background: var(--container-color);
  padding: 10px;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 10px;
}
.article-title {
  margin-bottom: 10px;
}
.article-description {
  /* background:lightsteelblue */
  margin-bottom: 10px;
}
.article-button {
  height: 30px;
  display: flex;
}
.button-operation {
  font-size: 1rem;
  display: flex;

  /* max-width: 100px; */
  width: 7rem;
  margin-right: 20px;

  justify-content: center;

  /* width: fit-content;
  width: -moz-fit-content; */
  /* background: yellow; */
  border-radius: 5px;
  height: 100%;
  padding: 0px 10px;
  align-items: center;

  text-decoration: none;
  color: white;
}
.edit {
  background: var(--button-color-edit);
}
.readmore {
  background: var(--button-color-readmore);
}
.delete {
  background: var(--button-color-delete);
  border: none;
  cursor: pointer;
}

.button-create-logout {
  /* background: lightblue; */
  /* width: 50%; */
  display: flex;
}
.top-button {
  height: 30px;
  margin-top: auto;
}
.create {
  background: var(--button-color-create);
  margin-right: 0px;
}
.logout {
  background: var(--button-color-logout);
}

@media (max-width: 500px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 370px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 330px) {
  .button-operation {
    font-size: 0.8rem;
  }
}

.description {
  color: var(--description-color);
}
