@import url("https://fonts.googleapis.com/css2?family=Georama:wght@200;300&display=swap");

:root {
  --bg-color: transparent; /* #1e1f33 */
  --font-color: transparent; /* #adafd0 */
  --container-color: transparent; /* #262742 */
  --button-color-readmore: transparent; /* #e84172 */
  --button-color-delete: transparent; /* #f64a4a */
  --button-color-edit: transparent; /* #4184e8 */
  --button-color-create: transparent; /* #52cf8c */
  --search-input: transparent; /* #262742 */
  --font-color2: transparent; /* #8587a4 */
  --button-color-logout: transparent; /* #f64a4a */
  --border-color: transparent; /* #adafd0 */
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Georama", sans-serif, serif;
}

::-webkit-scrollbar {
  background: var(--bg-color);
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--font-color2);
}

body {
  background: var(--bg-color);
}
main {
  margin: auto;
  /* background: lightcoral; */
  min-height: 80vh;
  padding: 10px 0px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}
.theme {
  /* background: lightpink; */
  padding: 0px 10px;
}
.theme > img {
  display: block;
  width: 50px;
  height: 50px;
  margin-left: auto;
  /* background: lightsalmon; */
}

.login {
  background: var(--container-color);
  width: 50%;
  max-width: 400px;

  padding: 30px;
  margin: auto;
  border-radius: 10px;
}
input,
button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1rem;
}
input {
  margin-bottom: 10px;
  padding: 10px;
  background: var(--container-color);
  border: 1px solid var(--border-color);
  color: var(--font-color2);
}
button {
  background: var(--button-color-readmore);
  color: white;
  cursor: pointer;
}
.invalid {
  color: red;
}

@media (max-width: 500px) {
  .login {
    width: 100%;
    background: transparent;
    padding: 10px;
  }
}
